@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    /* Colors */
    --color-primary: #ffa600;
    --color-background-primary: #000;
    --color-background-secundary: #121212;
    --color-background-tertiary: #242424;
    --color-text: #fff;
    --color-link: var(--color-primary);

    /* Others */
    --spacing: 1rem;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

/* Base */
body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background-color: var(--color-background-primary);

    font-family: sans-serif;
    font-size: 16px;
    color: var(--color-text);
}

/* Main Section */
.main-section {
    display: flex;
    gap: var(--spacing);
    flex: 1;

    width: 100%;
    padding: var(--spacing) 0;
}

/* Title */
h1 {
    font-size: 2em;
    font-weight: bolder;
    color: var(--color-primary);
    text-align: center;
}
h2 {
    font-size: 1.7em;
    font-weight: bolder;
    color: var(--color-primary);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    flex: 1;

    min-width: 0;
    padding: var(--spacing) calc(var(--spacing) * 2) var(--spacing) var(--spacing);
}
