/* Base */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 4px solid var(--color-primary);
    width: 100%;
    padding: 12px 32px;
    background-color: var(--color-background-secundary);
}

/* Navigation */
footer a {
    color: var(--color-primary);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    transition: color 0.3s;
}
footer a:hover {
    color: var(--color-text);
}

/* Copyright */
footer p {
    color: var(--color-primary);
    font-size: 14px;
    text-transform: uppercase;
}

/* Version */
footer span {
    color: var(--color-primary);
    font-size: 12px;
    text-transform: uppercase;
}
